{
  "Platform": {
    "Linux": {
      "CreatePartitionIfNoEphemeralDisk": false,
      "DevicePathResolutionType": "virtio"
    }
  },
  "Infrastructure": {
    "NetworkingType": "dynamic",
    "Settings": {
      "Sources": [
        {
          "Type": "File",
          "SettingsPath": "/piConfig/settings.json"
        }
      ],
      "UseServerName": true,
      "UseRegistry": false
    }
  }
}
